<html ng-app="projectApp" lang="en" class="csstransforms csstransforms3d csstransitions js cssanimations csstransitions"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
		<script src="jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="/datepicker/js/bootstrap-datepicker.js"></script>
		<link rel="stylesheet" type="text/css" href="/datepicker/css/datepicker.css">
		<script src="/js/angular.js"></script>
        <link href="/bootstrapNew/css/bootstrap.css" rel="stylesheet">
        <script src="/bootstrapNew/js/bootstrap.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/projectapp.css">
        
        <link rel="stylesheet" type="text/css" href="bootstrap/social-buttons.css">
        <link rel="stylesheet" type="text/css" href="font-awesome-4.0.1/css/font-awesome.css">
        
		<script src="/js/controllers.js"></script>
		<script src="/js/button.js"></script>

		


</head>
  <body>
    <div class="container">
      <div class="row">
      	<!-- Start Left Nav -->
        <div class="col-md-4 leftnav" ng-controller="WeddingsCtrl">
          <h3 ng-repeat="wedding in weddings"><span>{{wedding.name}}</span></h3>


          Vendors go here when selected. Above Navigation goes across top.
          <br><br>
          <span>{{wedding.name}}</span>
          <button class="btn btn-default btn-primary refresh" type="button">Refresh Data</button> 
          <button ng-click='logout()' class="btn btn-primary">Logout</button>
        </div>
        <!-- End Left Nav -->
        

        <!-- Start Main -->
        <div class="col-md-8">
        	<br>
	        <ul class="nav nav-tabs main-nav" id="myTab">
			  <li class="active"><a href="#tasks">Tasks</a></li>
			  <li><a href="#notes">Notes</a></li>
			  <li class="dropdown">
			  	
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wedding Team <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#florist" data-toggle="tab">Florist</a></li>
                  <li><a href="#photographer" data-toggle="tab">Photographer</a></li>
                  <li><a href="#dj" data-toggle="tab">DJ</a></li>
                </ul>
              
			  </li>
			  <li><a href="#events">Events</a></li>
			  <li><a href="#vendors">Vendors</a></li>
			</ul>
		 


		 	<!-- Start Content -->
			<div class="tab-content">
			  <!-- Tasks -->
			  <div ng-controller="TaskListCtrl" class="tab-pane fade in active" id="tasks">

			  	<!-- TASK NAV -->
			  	<nav class="navbar navbar-default" role="navigation">
				  <!-- Brand and toggle get grouped for better mobile display -->
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a class="navbar-brand hidden-lg hidden-md" href="#">Tasks</a>
				  </div>

				  <!-- Collect the nav links, forms, and other content for toggling -->
				  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <form class="navbar-form navbar" role="search">
				    	<button type="button" class="btn btn-primary navbar-btn" ng-click="showNew()">New</button>
				    	<select class="form-control taskOrder"ng-model="orderProp">
							<option value="name">Alphabetical</option>
							<option value="created">Created Date</option>
							<option value="dueDate">Due Date</option>
						</select>
				      <div class="form-group">
				        <input type="text" class="form-control" ng-model="query" placeholder="Search">
				      </div>
				      <button type="submit" class="btn btn-default" >Submit</button>
				    </form>

				  </div><!-- /.navbar-collapse -->
				</nav>
				<!-- END TASK NAV -->

				<!-- Start Create Task MODAL -->

				<div class="modal fade" id="createTaskArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

					<div class="moadl-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">Task</h3>
					</div>

					<div class="modal-body taskModal">
						<form ng-submit="saveTask()" class="form">

							<div class="form-group ">
							    <label class="control-label" for="inputDetails">Due Date</label>
							    <div class="form-group">
								    <input type="date" ng-model="dueDate" name="dueDate" id="datepicker" class="form-control newTask"/>
							    </div>
						    </div>
						    
						    <div class="form-group ">
							    <label class="control-label" for="inputName">Task Name</label>
							    <div class="form-group">
								    <input type="text" ng-model="name" name="name" id="inputName" placeholder="Task Name" class="newTask form-control" value="{{details}}">
							    </div>
						    </div>

						    <div class="form-group ">
							    <label class="control-label" for="inputDetails">Description</label>
							    <div class="form-group">
								    <textarea rows="3" type="text" ng-model="description" name="description" id="inputDescription" placeholder="Description" class="newTask form-control"></textarea>
							    </div>
						    </div>
					    
						    <div class="form-group ">
							    <label class="control-label" for="inputDetails">Details</label>
							    <div class="form-group">
								    <textarea rows="3" type="text" ng-model="details" name="details" id="inputDetails" placeholder="Details" class="newTask form-control"></textarea>
							    </div>
						    </div>


						    
						    <div class="form-group">
							    <div class="form-group">
								    <!-- <input type="submit"  data-dismiss="modal" aria-hidden="true" id="createTask" class="btn" value="Create Task"/> -->
								    <button type="submit" id="saveTask" class="btn btn-default btn-primary">Save</button>
							    </div>
						    </div>
					    </form>
					</div>


<!-- 					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button type="submit" id="createTask" class="btn btn-default btn-primary">Save changes</button>
					</div>	 -->				
				</div>
				</div>
				</div>
				<!-- END MODAL -->

				<!-- START TASKS -->

				  <div  class="panel-group" id="accordion2">
		            <div ng-repeat="task in tasks | orderBy: orderProp | filter:query" class="panel panel-default">

		            	
		              <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{task._id}}">
<!-- 		                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{task._id}}" >
		                  {{task.name}}
		                </a> -->

						<strong contenteditable="true">
		                  <em class="name{{task._id}}" ng-click='edit($index, "name")'>{{task.name}}</em>
		                </strong>
		                <div class="btn-group" style="padding-left: 10px;">
							<button type="submit" ng-click='update($index, "name")' class="btn btn-sm btn-primary hide namebuttons{{task._id}}" >Save</button>
	                		<button type="button" ng-click='close($index, "name")' class="btn btn-sm btn-danger hide namebuttons{{task._id}}">Cancel</button>
	                	</div>


		                <strong class="pull-right">Due: </strong><br>
						<span class="description{{task._id}}" contenteditable="true" ng-click='edit($index, "description")'>
		                	{{task.description}}
		                </span>

		                <span class="pull-right description{{task._id}}" contenteditable="true" ng-click='edit($index, "duedate")'>{{task.dueDate | date:'M/d/yy'}}</span>
		                <div class="btn-group pull-right" style="padding-right: 10px; padding-right: 2px;">
							<button type="submit" ng-click='update($index, "duedate")' class="btn btn-sm btn-primary hide duedatebuttons{{task._id}}" >Save</button>
	                		<button type="button" ng-click='close($index, "duedate")' class="btn btn-sm btn-danger hide duedatebuttons{{task._id}}">Cancel</button>
	                	</div>
		                <br>


		                <div class="btn-group" style="padding-left: 10px;">
							<button type="submit" ng-click='update($index, "description")' class="btn btn-sm btn-primary hide descriptionbuttons{{task._id}}" >Save</button>
	                		<button type="button" ng-click='close($index, "description")' class="btn btn-sm btn-danger hide descriptionbuttons{{task._id}}">Cancel</button>
	                	</div>


		              </div>
		            <div id="{{task._id}}" class="panel-collapse collapse">
		            <!-- Start Task Container -->
		              <div class="panel-body">
		              	<div class="row task-area">
		              		<!-- Start task details -->

		              		<div class="col-md-3 ">

				                	<h4>Details:</h4> 
				                	<span class="details{{task._id}}" contenteditable="true" ng-click='edit($index, "details")' >{{task.details}}</span>
				                	<br>
					                <div class="btn-group" style="padding-left: 10px;">
										<button type="submit" ng-click='update($index, "details")' class="btn btn-sm btn-primary hide detailsbuttons{{task._id}}" >Save</button>
				                		<button type="button" ng-click='close($index, "details")' class="btn btn-sm btn-danger hide detailsbuttons{{task._id}}">Cancel</button>
				                	</div>

				                	



			                </div>
			                <!-- end task details -->
			                <!-- Start task discussion -->
			                <div class="col-md-5">


			                	<div style="width: 70%;"> 

			                	</div>

		                
			                </div>
			                <div style="" class=" pull-right btn-group">

								    <a class="btn-sm dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
<!-- 								    <ul class="dropdown-menu">
									    <li><button type="button" ng-click="deleteTask($index)" class="btn btn-default btn-danger" href="#"><i class="glyphicon glyphicon-trash glyphicon-white"></i>Delete</button></li>
								    </ul> -->
							    </div>
			            </div>
			                <!-- End task detials -->
			                <br>
			                <!-- Start Task Controls -->
			                <div class="row task-area">
			                	<div class="col-md-3">
									<button type="button" ng-click="deleteTask($index)" class="btn btn-default btn-danger" href="#"><i class="glyphicon glyphicon-trash glyphicon-white"></i>Delete</button>

									<button type="button" ng-click="showEdit($index)" class="btn btn-default btn-danger" href="#"><i class="glyphicon glyphicon-trash glyphicon-white"></i>Edit</button>

			                	</div>

			                	<div class="col-md-7">
									<form class="form">
								        <textarea type="text-area" rows="2"></textarea><br>
								        <button type="submit" class="btn">Send Message</button>
							        </form>
							        
			                	</div>

		                </div>
		              </div>
		              <!-- End Task Container -->
		            </div>
		          </div>

		        </div>

		        <!-- End Tasks -->


			  </div>

			  <!-- Start Florist -->
			  <div class="tab-pane fade" id="florist">
			  	<h2>Your Florist: <h3>Marquis</h3></h2>




			  </div>
			  <!-- End Florist -->
			  <div class="tab-pane fade" id="photographer">Photo</div>
			  <div class="tab-pane fade" id="dj">DJ</div>
			  <div class="tab-pane fade" id="events">Events</div>
			  <div class="tab-pane fade" id="vendors">Vendors</div>

			  
			  <!-- Start Notes -->
			  <div class="tab-pane fade" id="notes">

				  
				  <div class="panel-group" id="accordion2">
		            <div class="panel panel-default">
		              <div class="panel-heading">
		                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#noteOne">
		                  Favorite Party Favors
		                </a>
		              </div>
		            <div id="noteOne" class="panel-collapse collapse">
		              <div class="panel-body">
		                <textarea>

		                </textarea>
		              </div>
		            </div>
		          </div>

		          <div class="panel panel-default">
		            <div class="panel-heading">
		              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#noteTwo">
		                Vows
		              </a>
		            </div>
		            <div id="noteTwo" class="panel-collapse collapse">
		              <div class="panel-body">
		                <textarea>
Dear Blah Blah, blahaslkdshdasjasodhsk
		                </textarea>
		              </div>
		            </div>
		          </div>
		        </div>



			</div>
			<!-- End Notes -->




<!--           <div class="panel-group" id="accordion2">
             <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Find a Hall
                </a>
              </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <textarea>

                </textarea>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Florist
              </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <textarea>
                  hskjdhasjdhsakjhd
                </textarea>
              </div>
            </div>
          </div>
        </div> -->

        </div> 


    </div>
    <!-- End Main -->
  </body>
    <!-- Eventually add to outside script file -->
  	<script type="text/javascript">
          $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        })
	</script>
</html>