.signup {
	position: relative;
	top: 60px;
}

.signin {
	position: relative;
	top: 60px;
}

.tasks{
	height: 200%;
	width: 100%;

}

.main-nav {
	font-size: 18px;
	font-weight: bold;
}

.task-area{
	position: relative;
	left: 15px;
	text-align: left;
	/*width: 300px;
	height: 100px;*/
}

form input {
	height: 28px;
}

/*.leftnav {
	background-color: black;
	color: white;
}*/